﻿@using WebApplication3.ViewModels
@model CarsListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <h1>All Cars</h1>
    <h3>@Model.currCategory</h3>
    @{
        foreach (var car in Model.allCars)
        {
            <h2> Name: @car.name</h2>
            <p> Price: @car.price.ToString("c")</p>
        }
    }
</body>
</html>

